<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>显示地市</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="webjars/bootstrap/4.0.0-beta/css/bootstrap.css"
          th:href="@{/webjars/bootstrap/css/bootstrap.css}" />
    <script src="webjars/bootstrap/4.0.0-beta/js/bootstrap.js"
            th:src="@{/webjars/bootstrap/js/bootstrap.js}"></script>
</head>
<body>
    <h1>显示地市</h1>
    <table class="table table-bordered" style="width: 500px">
        <tr>
            <th>地区标识</th>
            <th>地市名称</th>
        </tr>
        <tr th:each="city:${cities}">
            <td><span th:text="${city.areaId}">88</span></td>
            <td><span th:text="${city.name}">广州市</span></td>
        </tr>
    </table>
</body>
</html>